    /* colors  */

    :root {
        --white:  #FFFFFF;
        --gray-100: #F3F3F3;
        --gray-200: #EEEEEE;
        --gray-300: #E6E6E6;
        --gray-400: #DDDDDD;
        --gray-500: #CECECE;
        --gray-600: #A1A1A1;
        --gray-700: #737373;
        --dark: #140E17;
        --red-100:#FCEAEA;
        --red-300: #E22929;
        --purple-100: #F0E2FB;
        --purple-200: #E7D1F9;
        --purple-300: #DDBFF7;
        --purple-400: #A24DE8;
        --green-300: #51B267;
    }


    @font-face {
        font-family: 'Manrope';
        src: url('../fonts/bold-webfont.woff2') format('woff2'),
        url('../fonts/bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;

    }

    @font-face {
        font-family: 'Manrope';
        src: url('../fonts/light-webfont.woff2') format('woff2'),
        url('../fonts/light-webfont.woff') format('woff');
        font-weight: 300;
        font-style: normal;

    }

    @font-face {
        font-family: 'Manrope';
        src: url('../fonts/medium-webfont.woff2') format('woff2'),
        url('../fonts/medium-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;

    }

    @font-face {
        font-family: 'Manrope';
        src: url('../fonts/regular-webfont.woff2') format('woff2'),
        url('../fonts/regular-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;

    }

    @font-face {
        font-family: 'Manrope';
        src: url('../fonts/semibold-webfont.woff2') format('woff2'),
        url('../fonts/semibold-webfont.woff') format('woff');
        font-weight: 600;
        font-style: normal;

    }

    @font-face {
        font-family: 'Manrope';
        src: url('../fonts/thin-webfont.woff2') format('woff2'),
        url('../fonts/thin-webfont.woff') format('woff');
        font-weight: 100;
        font-style: normal;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bold-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }




    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
        url('../fonts/roboto-light-webfont.woff') format('woff');
        font-weight: 300;
        font-style: normal;

    }




    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
        url('../fonts/roboto-medium-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;

    }




    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }


    .white {
        color: #FFFFFF;
    }

    .gray-100 {
        color: #F3F3F3;
    }

    .gray-200 {
        color: #EEEEEE;
    }

    .gray-300 {
        color: #E6E6E6;
    }

    .gray-400 {
        color: #DDDDDD;
    }

    .gray-500 {
        color: #CECECE;
    }

    .gray-600 {
        color: #A1A1A1;
    }

    .gray-700 {
        color: #737373;
    }

    .dark {
        color: #140E17;
    }

    .purple-100 {
        color: #F0E2FB;
    }

    .purple-200 {
        color: #E7D1F9;
    }

    .purple-300 {
        color: #DDBFF7;
    }

    .purple-400 {
        color: #A24DE8;
    }

    .purple-500 {
        color: #903CD6;
    }

    .red-100 {
        color: #FCEAEA;
    }

    .red-300 {
        color: #E22929;
    }

    .green-100 {
        color: #D5F0DB;
    }

    .green-300 {
        color: #51B267;
    }

    .blue-100 {
        color: #D0E4FF;
    }

    .blue-300 {
        color: #3183F3;
    }



    /*@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');*/

    html,
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Manrope", sans-serif;
        font-style: normal;
        color: #140E17;
    }

    * {
        box-sizing: border-box;
    }

    li {
        list-style: none;
    }

    a {
        display: flex;
        align-items: center;
        transition: all 0.2s ease;
        text-decoration: none;

        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        cursor: pointer;
    }

    h1 {
        font-weight: 500;
        font-size: 64px;
        line-height: 76px;
    }

    h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
    }

    h3 {
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
    }

    h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }

    .semibold-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .regular-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .small-bold-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .small-semibold-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .btn-link-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    @media (max-width: 375px) {
        h1 {
            font-weight: 500;
            font-size: 32px;
            line-height: 36px;
        }

        h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
        }

        h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }

        h4 {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }

        .semibold-text {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
        }

        .regular-text {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }

        .small-bold-text {
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }

        .small-semibold-text {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
        }

        .btn-link-text {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }

        a {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
        }
    }
