<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/globalStyles.css">
    <link rel="stylesheet" href="badges.css">
    <title>badges</title>
</head>
<body>
    <div class="div">
        <!-- User -->
        <div class="badge">
            <div class="indicator color-user"></div>
            <span class="small-semibold-text">User</span>
        </div>
        <div class="badge m-size">
            <div class="indicator color-user"></div>
            <span class="small-semibold-text">User</span>
            <div class="arrow"></div>
        </div>

        <!-- Admin -->
        <div class="badge s-size">
            <div class="indicator color-admin"></div>
            <span class="small-semibold-text">Admin</span>
        </div>
        <div class="badge choice l-size">
            <div class="indicator color-admin"></div>
            <span class="small-semibold-text">Admin</span>
            <div class="arrow"></div>
        </div>

        <!-- Main Admin -->
        <div class="badge xl-size">
            <div class="indicator color-main-admin"></div>
            <span class="small-semibold-text">Main Admin</span>
        </div>
        <div class="badge choice xxl-size">
            <div class="indicator color-main-admin"></div>
            <span class="small-semibold-text">Main Admin</span>
            <div class="arrow"></div>
        </div>
    </div>
</body>
</html>