<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/globalStyles.css">
    <link rel="stylesheet" href="index.css">
    
    <title>popup</title>
</head>
<body>
    <header id="header" class="header lock-padding">
        <div class="header__container _container">
            <a href="#" class="popup-link">popup</a>
        </div>
    </header>
    <div id="popup" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <div class="popup__container">
                    <h2>Registration</h2>
                    <a href="#" class="popup__close close-popup"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/popup.js"></script>
</body>
</html>