<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/globalStyles.css">
    <link rel="stylesheet" href="popup.css">
    
    <title>popup</title>
</head>
<body>
    <header id="header" class="header lock-padding">
        <div class="header__container _container">
            <a href="#popup" class="popup-link">popup</a>
        </div>
    </header>
    <div id="popup" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <div class="popup__container">
                    <a href="#" class="popup__close close-popup">
                        <svg width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_279_4251)">
                            <mask id="mask0_279_4251" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="7" y="7" width="18" height="18">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.4853 7.51473C24.0948 7.12421 23.4616 7.12421 23.0711 7.51473L16 14.5858L8.92893 7.51473C8.53841 7.12421 7.90524 7.12421 7.51472 7.51473C7.12419 7.90526 7.12419 8.53842 7.51472 8.92894L14.5858 16L7.51472 23.0711C7.12419 23.4616 7.12419 24.0948 7.51472 24.4853C7.90524 24.8758 8.53841 24.8758 8.92893 24.4853L16 17.4142L23.0711 24.4853C23.4616 24.8758 24.0948 24.8758 24.4853 24.4853C24.8758 24.0948 24.8758 23.4616 24.4853 23.0711L17.4142 16L24.4853 8.92894C24.8758 8.53842 24.8758 7.90526 24.4853 7.51473Z" fill="#A24DE8"/>
                            </mask>
                            <g mask="url(#mask0_279_4251)">
                            <rect width="32" height="32" fill="#A24DE8"/>
                            </g>
                            </g>
                            <defs>
                            <clipPath id="clip0_279_4251">
                            <rect width="32" height="32" fill="#A24DE8"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/popup.js"></script>
</body>
</html>