.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    height: 96vh;
}

.navigation.hide {
    max-width: 108px;
}

.navigation .top {
    padding: 25px 30px;
}

.hide .top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-full {
    width: 319px;
    height: 40px;
    margin-bottom: 40px;
}

.hide .logo-full {
    background-image: url("../../images/logo-mini.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.show-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #F0E2FB;
    transition: all 0.2s ease;
    cursor: pointer;
}

.show-btn.hide {
    transform: rotate(180deg);
}

.show-btn:hover {
    background-color: #E7D1F9;
}

.show-btn:hover svg path,
.show-btn:hover svg rect {
    fill: #A24DE8;
}

.show-btn:active {
    background-color: #DDBFF7;
}

.show-btn:active svg path,
.show-btn:active svg rect {
    fill: #A24DE8;
}

.show-btn:active {
    background-color: #DDBFF7;
}

.show-btn:disabled {
    background-color: #CECECE;
}

.show-btn:disabled svg path,
.show-btn:disabled svg rect {
    fill: #FFFFFF;
}

.navigation__list {
    margin-top: 30px;
    margin-bottom: auto;
}

.hide .navigation__list-item h4 {
    display: none;
}

.hide .navigation__list-item {
    padding: 35px 35px;
}

.navigation__list-item {
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 0 40px;
}

.navigation__list-item h4 {
    margin-left: 29px;
}

.navigation__list-item:hover {
    background-color: #EEEEEE;
}

.navigation__list-item:active {
    background-color: #F0E2FB;
    border-right: 1px solid #A24DE8;
    color: #A24DE8;
}

.navigation__list-item:active svg path,
.navigation__list-item:active svg rect {
    fill: #A24DE8;
}

.active {
    background-color: #F0E2FB;
    border-right: 1px solid #A24DE8;
}

.active svg path,
.active svg rect {
    fill: #A24DE8;
}

.navigation__list-item:disabled {
    background-color: #CECECE;
}

.navigation__list-item:disabled svg path,
.navigation__list-item:disabled svg rect {
    fill: #FFFFFF;
}

.hide .book-a-demo span {
    display: none;
}

.book-a-demo {
    display: flex;
    justify-content: center;
    width: 75%;
    border: 1px solid #DDDDDD;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 35px;

    margin-left: auto;
    margin-right: auto;
}

.hide .book-a-demo {
    width: 20%;
}

.book-a-demo span {
    margin-left: 12px;
}

.hide .user span {
    display: none;
}

.user {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 16px 30px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.user:hover {
    background-color: #EEEEEE;
}

.user:active {
    background-color: #F0E2FB;
    border-right: 1px solid #A24DE8;
    color: #A24DE8;
}

.user .avatar {
    margin-right: 16px;
}