<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/globalStyles.css">
    <link rel="stylesheet" href="steps.css">

    <title>steps</title>
</head>
<body>
    <div class="div">
        <div class="step-list">
            <div class="step-item active">
                <div class="line"></div>
                <span class="small-semibold-text">Item</span>
            </div>
            <div class="step-item">
                <div class="line"></div>
                <span class="small-semibold-text">Item</span>
            </div>
        </div>
    </div>
</body>
</html>