a {
    text-decoration: none;
}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 80px;
    transition: all 0.2s ease;
}

.nav-link:hover {
    background-color: #E7D1F9;
}

.nav-link:hover svg path,
.nav-link:hover svg rect {
    fill: #A24DE8;
}

.nav-link:active {
    background-color: #DDBFF7;
    border-right: 1px solid #A24DE8;
}

.active {
    background-color: #DDBFF7;
    border-right: 1px solid #A24DE8;
}

.active svg path,
.active svg rect {
    fill: #A24DE8;
}

.nav-link:disabled {
    background-color: #CECECE;
}

.nav-link:disabled svg path,
.nav-link:disabled svg rect {
    fill: #FFFFFF;
}

.show-panel {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 0.2s ease;
}

.show-panel:hover {
    background-color: #E7D1F9;
}

.show-panel:hover svg path,
.show-panel:hover svg rect {
    fill: #A24DE8;
}

.show-panel:active {
    background-color: #DDBFF7;
}

.show-panel-active svg path,
.show-panel-active svg rect {
    fill: #A24DE8;
}

.show-panel-active {
    background-color: #DDBFF7;
}

.show-panel:disabled {
    background-color: #CECECE;
}

.show-panel:disabled svg path,
.show-panel:disabled svg rect {
    fill: #FFFFFF;
}