.wrapper {
    height: 100vh;
    display: flex;
}

.wrapper .navigation-mobile {
    display: none;
}

.wrapper .settings {
    width: 23%;
    height: 100%;
    background-color: #F3F3F3;
}

.wrapper .settings .settings-header {
    padding: 40px 40px 0 40px;
}

.wrapper .settings .settings-list {
    margin-top: 255px;
}

.wrapper .settings .settings-item {
    display: block;
    padding: 0 40px;
    margin-bottom: 40px;
    width: 100%;
}

.wrapper .settings .settings-item:hover,
.wrapper .settings .settings-item.active {
    border-right: 1px solid #A24DE8;
    color: #A24DE8;
    background-color: transparent;
}

.wrapper .container {
    width: 70%;
    padding: 40px;
    overflow-y: scroll;
}

.wrapper .container h1 {
    margin-bottom: 40px;
}

.wrapper .container .content {
    display: flex;
    justify-content: space-between;
    border: 1px solid #DDDDDD;
    padding: 40px 40px 40px 48px;
    border-radius: 8px;
}

.wrapper .container .content .left-side {
    width: 60%;
}

.wrapper .container .content .left-side .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    border-bottom: 1px solid #DDDDDD;
}

.wrapper .container .content .left-side .bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.wrapper .container .content .left-side .bottom .link-purple {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin: 2px 0 0 12px;
}

.wrapper .container .content .left-side .top .loaded-photo.minimobile {
    display: none;
}

.wrapper .container .content .left-side .top .form-sign-up,
.wrapper .container .content .left-side .bottom .form-sign-up {
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-field__input {
    display: block;
    width: 400px;
    height: 56px;
    padding: 29px 12px 8px 12px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #140E17;
    transition: all 0.3s ease;
}

.text-field__input:hover,
.text-field__input:active,
.text-field__input:focus {
    border-color: #A2A2A2;
}

.text-field_floating.field-error .text-field__input {
    border-color: #E22929;
}

.text-field__input[type="search"]::-webkit-search-decoration,
.text-field__input[type="search"]::-webkit-search-cancel-button,
.text-field__input[type="search"]::-webkit-search-results-button,
.text-field__input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.text-field__input::placeholder {
    color: #212529;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
}

.text-field_floating {
    position: relative;
}


.text-field_floating .text-field__label,
.text-field_floating .text-field__label-error {
    position: absolute;
    top: 20px;
    left: 14px;
    height: 100%;
    pointer-events: none;
    transform-origin: 0 0;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    color: #A2A2A2;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
}

.icon-password {
    display: none;
    position: absolute;
    top: 36px;
    right: 16px;
    width: 24px;
    height: 24px;
    align-items: center;
}

.icon-password.eye-open .icon-eye-close {
    display: none;
}

.icon-password .icon-eye-open {
    display: none;
}

.icon-password.eye-open .icon-eye-open {
    display: block;
}

.text-field_floating.field-error .text-field__label {
    display: none;
}

.text-field_floating .text-field__label-error {
    display: none;
}

.text-field_floating.field-error .text-field__label-error {
    display: block;
    color: #E22929;
}

.text-field_floating.field-error .password-description {
    color: #E22929;
}

.text-field_floating .text-field__input::-moz-placeholder {
    color: transparent;
}

.text-field_floating .text-field__input::placeholder {
    color: transparent;
}

.text-field_floating .text-field__input:focus,
.text-field_floating .text-field__input:not(:placeholder-shown) {

}

.text-field_floating .text-field__input:focus~.text-field__label,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label,
.text-field_floating .text-field__input:focus~.text-field__label-error,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label-error {
    transform: translateY(-11px);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.text-field_floating .text-field__input:focus~.text-field__label + .icon-password,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label + .icon-password,
.text-field_floating .text-field__input:focus~.text-field__label-error + .icon-password,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label-error + .icon-password {
    display: flex;
}

form .text-field {
    margin-bottom: 12px;
}

form .text-field .password-description {
    display: block;
    width: 400px;
    margin: 2px 0 0 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
}

form .form-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.wrapper .container .content .left-side .bottom .alert {
    position: absolute;
    top: 0;
    right: 0;
}

.wrapper .container .content .right-side {
    width: 30%;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.wrapper .container .btn {
    padding: 18px 0;
    margin-top: 40px;
    width: 100%;
}

@media (max-width: 1600px) {
    .wrapper .container .content .left-side {
        width: 68%;
    }
}

@media (max-width: 1285px) {

    .wrapper .container .content .left-side {
        width: 57%;
    }

    .wrapper .container .content .right-side {
        width: 40%;
    }

    .wrapper .container .content .left-side .top,
    .wrapper .container .content .left-side .bottom {
        flex-direction: column;
    }

    .wrapper .container .content .left-side .top h3,
    .wrapper .container .content .left-side .bottom h3 {
        margin-bottom: 40px;
    }
}

@media (max-width: 1085px) {

    .wrapper .container .content .left-side {
        width: 72%;
    }

    .wrapper .container .content .right-side {
        width: 20%;
    }

    .wrapper .container .content .right-side .loaded-photo .photo {
        width: 100px;
        height: 100px;
    }

    .wrapper .container .content .right-side .loaded-photo .instruments {
        flex-direction: column;
    }

    .wrapper .container .content .right-side .loaded-photo .instruments .left {
        padding-right: 0;
        border-right: none;
        margin-bottom: 16px;
    }

    .wrapper .container .content .right-side .loaded-photo .instruments .right {
        padding-left: 0;
    }

}

@media (max-width: 500px) {

    .wrapper {
        flex-direction: column;
    }

    .wrapper .navigation {
        display: none;
    }

    .wrapper .navigation-mobile {
        display: block;
    }

    .wrapper .settings {
        width: 100%;
        height: fit-content;
        padding: 24px 15px 0 15px;
    }

    .wrapper .settings .settings-header {
        padding: 0;
    }

    .wrapper .settings .settings-list {
        display: flex;
        margin-top: 22px;
    }

    .wrapper .settings .settings-item {
        margin-bottom: 0;
        padding: 6px;
        border-right: none;
    }

    .wrapper .settings .settings-item:hover,
    .wrapper .settings .settings-item.active {
        border-right: none;
        border-bottom: 1px solid #A24DE8;
        color: #A24DE8;
        background-color: transparent;
    }

    .wrapper .container {
        width: 100%;
        padding: 24px 16px;
    }

    .wrapper .container h1 {
        display: none;
    }

    .wrapper .container .content {
        padding: 16px;
    }

    .wrapper .container .content .left-side {
        width: 100%;
    }

    .wrapper .container .content .left-side .top .loaded-photo.minimobile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: fit-content;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 16px;
    }

    .wrapper .container .content .left-side .top .loaded-photo.minimobile .photo {
        width: 110px;
        height: 110px;
        margin-bottom: 0;
        margin-right: 16px;
    }

    .wrapper .container .content .left-side .top .loaded-photo.minimobile .instruments {
        flex-direction: column;
    }

    .wrapper .container .content .left-side .top .loaded-photo.minimobile .instruments .left {
        padding-right: 0;
        border-right: none;
        margin-bottom: 16px;
    }

    .wrapper .container .content .left-side .top .loaded-photo.minimobile .instruments .right {
        padding-left: 0;
    }

    .wrapper .container .content .left-side .top h3,
    .wrapper .container .content .left-side .bottom h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 28px;
    }

    .input {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    label {
        font-size: 14px;
        line-height: 20px;
    }

    .wrapper .container .content .left-side .bottom .input-form div .reset-info {
        width: 100%;
    }

    .wrapper .container .content .left-side .bottom .input-form .semibold-text {
        font-size: 12px;
        line-height: 16px;
    }

    .wrapper .container .btn {
        margin-top: 20px;
    }


    .wrapper .container .content .right-side {
        display: none;
    }

    .wrapper .container .content .left-side .bottom .alert {
        top: auto;
        bottom: 56px;
    }
}