<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/globalStyles.css">
    <link rel="stylesheet" href="date.css">
    <title>date & time</title>
</head>
<body>
    <div class="div">
        <div>
            <span class="regular-text gray-600">00:00 am -> 00:00 pm</span>
        </div>
        <!-- With arrow -->
        <div class="time">
            <div class="container">
                <span class="regular-text gray-600">00:00 am</span>
                <span class="regular-text gray-600">00:00 pm</span>
            </div>
            <div class="arrow-down"></div>
        </div>
        <!-- Without arrow -->
        <div class="time">
            <div class="container">
                <span class="regular-text gray-600">00:00 am</span>
                <span class="regular-text gray-600">00:00 pm</span>
            </div>
        </div>
    </div>
</body>
</html>