
.fixed {
    position: fixed;
}

.content-header {
    margin-bottom: 48px;
}

.members-container {
    display: flex;
    flex-direction: column;
}

.members-navigation {
    display: flex;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--gray-400);
}

.members-tab {
    position: relative;
    display: flex;
    gap: 8px;
    padding: 0 8px 12px 8px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    z-index: 0;
    cursor: pointer;
}

.members-tab:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: var(--gray-400);
}

.active.members-tab:after {
    background-color: var(--purple-400);
}

.members-tab .tab-counter {
    padding: 2px 9px;
    background-color: var(--gray-300);
    border-radius: 100px;
    color: var(--dark);
    font-size: 12px;
    line-height: 16px;
}

.members-tab.active .tab-counter {
    color: var(--white);
    background-color: var(--purple-400);
}

/*Alert*/

.invitation-alert {
    display: none;
    max-width: 480px;
    padding: 16px;
    align-items: start;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.invitation-alert.shown,
.removed-alert.shown {
    display: flex;
}

.invitation-alert .container {
    display: flex;
    width: fit-content;
}

.removed-alert {
    display: none;
    padding: 26px 24px;
}

/*Filter*/

.members-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.filter-search {
    position: relative;
    width: 400px;
    height: 52px;
}

.filter-search input {
    width: 100%;
    height: 100%;
    padding: 16px 36px 16px 12px;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.filter-search input:focus {
    outline: 0;
}

.filter-search input::placeholder {
    color: var(--gray-600);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.filter-search .icon-glass {
    position: absolute;
    top: 16px;
    right: 12px;
}

.members-filter .btn {
    margin-top: 0;
    margin-left: 12px;
    padding: 16px;
    font-weight: 600;
}

/*Table*/

.sented-invitation,
.accept-invitation {
    display: none;
}

.table-custom.isActive {
    display: block;
}

.table-custom .table-head {
    display: grid;
    padding: 10px 27px;
    text-align: left;
}

.sented-invitation .table-head {
    grid-template-columns: 1fr 174px 174px;
}

.accept-invitation .table-head,
.accept-invitation .table-body .table-row {
    grid-template-columns: 1fr 1fr 145px 70px;
}

.table-custom .table-head .table-cell {
    display: flex;
}

.table-custom .table-head .table-cell svg {
    margin-left: 10px;
}

.table-custom .table-body {
    padding: 16px;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
}

.table-custom .table-body .table-row {
    display: grid;
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px
}

.sented-invitation .table-body .table-row {
    padding: 24px 8px;
}

.accept-invitation .table-body .table-row {
    padding: 16px 11px;
}

.sented-invitation .table-body .table-row {
    grid-template-columns: 1fr 170px 120px auto;
}

.table-custom .table-body .table-row:hover {
    background-color: var(--gray-100);
}

.table-custom .table-body .table-row:hover .select__header{
    background-color: var(--white);
}

.table-custom .table-body .table-row .date {
    font-size: 12px;
    line-height: 16px;
}

.table-custom .table-body .table-row .cell-for-name {
    font-size: 12px;
    line-height: 16px;
}

.table-custom .table-body .table-row .wrap-name {
    display: flex;
    align-items: center;
}

.table-custom .table-body .table-row .cell-delete-btn {
    justify-self: center;
}

.btn-delete {
    visibility: hidden;
}

.table-custom .table-body .table-row:hover .btn-delete {
    visibility: visible;
}

.table-custom .table-body .table-row .cell-for-name .avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px ;
}

.btn-revoke-email {
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.cell-header {
    display: none;
    margin-bottom: 8px;
    color: var(--gray-600);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

/*Select badge*/

.select {
    width: fit-content;
}

.select__current {
    white-space: nowrap;
}

.select.badge .select__header {
    align-items: center;
    height: auto;
    padding: 6px 12px;
    background-color: var(--gray-200);
    border: none;
}

.select__header .arrow-icon {
    display: none;
    position: inherit;
    margin-left: 8px;
    transform-origin: 50%;
}

.table-custom .table-body .table-row:hover .select__header .arrow-icon,
.select.is-active .select__header .arrow-icon {
    display: block;
}

.select__header .arrow-icon svg,
.select.is-active .select__header .arrow-icon svg {
    fill: var(--dark);
}

.select.selected .select__header .arrow-icon,
.select.is-active .select__header .arrow-icon {
    transform: translateY(0);
}

.table-custom .select__body {
    top: calc(100% + 20px);
    bottom: auto;
    margin-top: 0;
    padding: 8px;
}

.table-custom .select__item {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding: 8px 0;
}

/*Select-filter*/

.select.filter .select__header {
    height: auto;
    padding: 0;
    border: none;
}

.select.filter .select__current {
    color: var(--gray-600);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.select.filter .select__body {
    min-width: 100px;
    max-width: 240px;
    right: auto;
}

/*Burger-menu*/

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 1;
}

.burger-menu.isActive {
    display: flex;
}

.menu-head {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
}

.menu-head .mobile-menu-close {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-menu .navigation__list {
    margin-top: 22px;
}

.burger-menu .navigation__list-item {
    padding: 28px 36px;
}

.burger-menu .navigation__list-item svg {
    width: 20px;
    height: 20px;
}

.navigation__list-item h4 {
    margin: 0;
    margin-left: 28px;
    font-size: 18px;
    line-height: 24px;
}

/*Dropdown*/

.mobile-menu-dropdown {
    width: 100%;
    margin: 0;
    background-color: transparent;
}

.mobile-menu-dropdown .dropdown-header {
    padding: 0;
    justify-content: flex-start;
}

.mobile-menu-dropdown .dropdown-body {
    padding: 8px 0 12px 48px;
}

.mobile-menu-dropdown.isOpen .dropdown-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.mobile-menu-dropdown .dropdown-header .arrow-icon {
    display: block;
    margin-left: auto;
    margin-right: 5px;
}

.mobile-menu-dropdown .dropdown-body .company-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 0;
    border: none;
    background-color: transparent;
    color: var(--gray-700);
    font-weight: 700;
    cursor: pointer;
}

.mobile-menu-dropdown .dropdown-body .company-item:last-child {
    color: var(--gray-600);
}

.mobile-menu-dropdown .dropdown-body .company-item.select {
    color: var(--purple-400);
}

.mobile-menu-dropdown .dropdown-body .company-item.select svg {
    fill: var(--purple-400);
}

.mobile-menu-dropdown .dropdown-body .company-item:after {
    display: none;
}

.burger-menu .book-a-demo {
    width: auto;
    margin-bottom: 40px;
    padding: 15px;
}

.burger-menu .user {
    padding: 0 4px;
}

.burger-menu .menu-bottom {
    padding: 20px 24px;
}

.burger-menu .user .avatar {
    width: 40px;
    height: 40px;
}

.book-a-demo svg {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1919px ) {
    .accept-invitation .table-body .table-cell:nth-child(2) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 65px;
    }
}

@media screen and (max-width: 1279px) {
    .members-navigation {
        margin-bottom: 16px;
    }

    .content-header {
        margin-bottom: 46px;
    }

    .members-filter {
        margin-bottom: 16px;
    }

    .members-tab {
        padding-bottom: 8px;
    }

    .members-filter .btn {
        padding: 10px 12px;
    }

    /*Table*/

    .accept-invitation .table-row {
        grid-template-columns: 1fr auto;
        grid-template-areas: "name btn"
                            "rights ."
                            "email email";
        gap: 16px;
    }

    .table-custom .table-body .table-row .select__header .arrow-icon {
        display: block;
    }

    .accept-invitation .table-body .table-row .cell-for-name .avatar {
        width: 56px;
        height: 56px;
    }

    .accept-invitation .table-body .table-row .cell-for-name {
        font-size: 18px;
        line-height: 24px;
    }

    .table-custom.accept-invitation .table-body .table-row {
        padding: 16px;
    }

    .cell-for-name {
        grid-area: name;
    }

    .cell-for-email {
        grid-area: email;
    }

    .cell-for-rights {
        grid-area: rights;
    }

    .cell-delete-btn {
        grid-area: btn;
    }

    .cell-delete-btn .btn-delete {
        width: auto;
        height: auto;
        visibility: visible;
    }

    .cell-delete-btn .btn-delete svg {
        width: 20px;
        height: 20px;
    }

    .table-custom .table-body .table-row:hover .select__header {
        background-color: transparent;
    }

    .badge {
        height: auto;
    }

    .select.badge .select__header {
        padding: 4px 8px;
    }

    .table-custom .table-body .table-row .date {
        font-size: 14px;
        line-height: 20px;
    }

    .btn-revoke-email {
        width: 100%;
        margin-top: 4px;
        padding: 6px;
    }

    /*Filter*/
    .filter-search {
        height: 40px;
    }

    .filter-search .icon-glass {
        top: 10px;
    }

    .table-custom .table-head {
        grid-template-columns: auto auto auto 1fr;
        gap: 24px;
        padding: 0;
        margin-bottom: 12px;
    }

    .accept-invitation .table-head {
        gap: 82px;
    }

    .table-custom .table-body {
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .cell-header {
        display: block;
    }

    .table-custom .table-body .table-row .cell-for-name {
        align-items: flex-start;
        flex-direction: column;
    }

    .table-custom .table-body .table-row {
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 20px;
        margin-bottom: 8px;
        border: 1px solid var(--gray-400);
        border-radius: 8px;
    }

    /*.accept-invitation .table-body .table-row {*/
    /*    padding: 16px;*/
    /*}*/

    .table-custom .table-body .table-row:last-child {
        margin-bottom: 0;
    }

    .table-custom .table-body .table-row:hover {
        background-color: transparent;
    }

    .table-custom .table-body .table-row .table-cell:last-child {
        width: 100%;
    }
}

@media screen and (max-width: 1079px) {

    main .submenu {
        display: none;
    }

    .content {
        padding: 16px;
    }

    .members-tab {
        padding: 6px 6px 9px 6px;
    }

    .members-navigation {
        margin-bottom: 16px;
    }

    .members-filter {
        margin-bottom: 18px;
    }

    .members-filter .btn {
        padding: 10px;
    }

    .table-custom .table-head {
        margin-bottom: 12px;
    }

    .accept-invitation .table-head {
        gap: 24px;
    }

    .content-header {
        margin-bottom: 26px;
    }

    .content-header .header-title {
        display: none;
    }

    .select .select__header .arrow-icon {
        display: block;
    }

    .accept-invitation .table-body .table-cell:nth-child(2) {
        white-space: normal;
        padding-right: 0;
        word-wrap: break-word;
    }

    .table-custom .table-body .table-row {
        padding: 16px;
    }

    .cell-for-email {
        font-size: 16px;
        line-height: 20px;
    }
}
